<!-- for each function... books database (from Ajax) as a profile -->
{{#each profiles as |profile|}}
<!-- console.log each profile -->
  {{log profile}}
  <!-- declare a section... data-id (which is like an id that fits in a system) with profile id... (unique id) -->
  <section data-id="{{profile._id}}">
    <form class="auth update-profile-form" data-id="{{profile._id}}">
      <fieldset>
        <input class="profile-name" required type="text" placeholder="name" name="profile[name]">
        <input class="profile-contact" required type="text" placeholder="contact" name="profile[contact]">
        <input class="profile-location" required type="text" placeholder="location" name="profile[location]">
        <input class="profile-instruments" required type="text" placeholder="instruments" name="profile[instruments]">
        <select name="profile[interests]">
          <option value="Lessons">Lessons</option>
          <option value="Gigs">Gigs</option>
          <option value="Jams">Jams</option>
        </select>
        <input class="profile-blurb" required type="text" placeholder="tell me about yourself :)" name="profile[blurb]">
        <button type="submit" class="btn btn-success">
          update-profile</button>
      </fieldset>
    </form>
    <h2>{{profile.instruments}} {{profile.interests}}</h2>
    <h3>{{profile.name}}, {{profile.location}}</h3>
    <h4>{{profile.contact}}</h4>
    <p>About me: {{profile.blurb}}</p>
    <br>
    <br>
    <!-- <p>
      {{#if profile.review}}
        {{profile.review}}
        <form class="update-review-form">
          <input required type="text" placeholder="title" name="title">
          <input required type="text" placeholder="content" name="content">
          <button data-id="{{review.id}}" type="submit">Update-review</button>
        </form>
        <button class="delete-review-button">Delete-review</button>
      {{else}}
        No reviews yet
      {{/if}}
    </p>
    <form class="create-review-form">
      <input required type="text" placeholder="title" name="title">
      <input required type="text" placeholder="content" name="content">
      <button data-id="{{profile.id}}" type="submit">Write-review</button>
    </form> -->
    <button data-id="{{profile._id}}" type="submit" class="show-update-button btn btn-outline-success">
      update-profile</button>
    <button data-id="{{profile._id}}" class="delete-profile-button btn-outline-danger">Delete profile</button>
  </section>

{{/each}}
