  <section data-id="{{profile._id}}">
    <h2>{{profile.instruments}} {{profile.interests}}</h2>
    <h3>{{profile.name}}, {{profile.location}}</h3>
    <h4>{{profile.contact}}</h4>
    <p>{{profile.blurb}}</p>
    <br>
    {{#if (isequal profile)}}
    <button data-id="{{profile._id}}" type="submit" class="show-update-button fa fa-edit btn btn-outline-success"></button>
    <form class="auth update-profile-form" data-id="{{profile._id}}">
      <fieldset>
        <input class="profile-name" required type="text" placeholder="name" name="profile[name]">
        <input class="profile-contact" required type="text" placeholder="phone or email" name="profile[contact]">
        <input class="profile-location" required type="text" placeholder="location" name="profile[location]">
        <input class="profile-instruments" required type="text" placeholder="instruments" name="profile[instruments]">
        <select name="profile[interests]">
          <option value="Lessons">Lessons</option>
          <option value="Gigs">Gigs</option>
          <option value="Jams">Jams</option>
        </select>
        <textarea class="profile-blurb" rows="2" cols="100" placeholder="tell me about yourself :)" name="profile[blurb]" class="col"></textarea>
        <br>
        <button type="submit" class="btn btn-outline-success fa fa-save"></button>
        <button data-id="{{profile._id}}" class="fa fa-trash-o btn btn-outline-danger"></button>
        </fieldset>
      </form>
        {{/if}}
  </section>

  <!-- <p>
  {{#if profile.review}}
  {{profile.review}}
  <form class="update-review-form">
  <input required type="text" placeholder="title" name="title">
  <input required type="text" placeholder="content" name="content">
  <button data-id="{{review.id}}" type="submit">Update-review</button>
</form>
<button class="delete-review-button">Delete-review</button>
{{else}}
No reviews yet
{{/if}}
</p>
<form class="create-review-form">
<input required type="text" placeholder="title" name="title">
<input required type="text" placeholder="content" name="content">
<button data-id="{{profile.id}}" type="submit">Write-review</button>
</form> -->
